*{
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
}


img{
    max-width: 100%; 
    width: 450px;
    height: 400px;
    border-radius: 20px;
   
}
img:hover{
    cursor:pointer;
    border: 3px solid rgb(161, 95, 8);
    width: 465px;
    height: 410px;
    transition: 0.3s ease;
}

.hoop{  
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: rgb(221, 148, 88);
    text-transform: uppercase;
    margin-bottom: 3em;
    font-family: 'Permanent Marker', cursive;
}
h1{
    text-align: center;
    margin: 50px 0 50px 0;
    font-family: 'Permanent Marker', cursive;
}

figure{
    margin-bottom: 3rem;
}
.title{
    text-decoration: none;;
    color: rgb(241, 110, 2);
}

footer{
    padding: 3rem;
    background-color: white;;
    font-size: 25px;
    background-color: none;
    text-align: center;
    
}

.footer{
    text-decoration: none;
    color: black;
    background-color: white;
}

.footer:hover {
    font-size: 28px;
    transition: 0.5s ease;
}

